<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Recipe Finder</title>
</head>

<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">Enter Ingredient to Find Recipes</h1>

        <form action="/search-results" method="GET">
            <div class="mb-3">
                <h5>Enter Ingredient</h5>
                <input type="text" class="form-control" id="query" name="query" placeholder="e.g., Paneer" required>
            </div>

            <div class="mb-3">
                <h5>Dietary Options</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vegetarian" name="vegetarian" value="true">
                    <label class="form-check-label" for="vegetarian">Vegetarian (No ingredients may contain meat or meat
                        by-products, such as bones or gelatin.)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vegan" name="vegan" value="true">
                    <label class="form-check-label" for="vegan">Vegan (No ingredients may contain meat or meat
                        by-products, such as bones or gelatin, nor may they contain eggs, dairy, or honey.)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="glutenFree" name="glutenFree" value="true">
                    <label class="form-check-label" for="glutenFree">Gluten-Free (Eliminating gluten means avoiding
                        wheat, barley, rye, and other gluten-containing grains and foods made from them (or that may
                        have been cross contaminated).)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ketogenic" name="ketogenic" value="true">
                    <label class="form-check-label" for="ketogenic">Ketogenic (The keto diet is based more on the ratio
                        of fat, protein, and carbs in the diet rather than specific ingredients. Generally speaking,
                        high fat, protein-rich foods are acceptable and high carbohydrate foods are not. The formula we
                        use is 55-80% fat content, 15-35% protein content, and under 10% of carbohydrates.)</label>
                </div>
            </div>
            <div class="mb-3">
                <h5>Intolerances Options</h5>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="dairy" name="dairy" value="true">
                    <label class="form-check-label" for="dairy">Dairy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="grain" name="grain" value="true">
                    <label class="form-check-label" for="grain">Grain</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="peanut" name="peanut" value="true">
                    <label class="form-check-label" for="peanut">Peanut</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="seafood" name="seafood" value="true">
                    <label class="form-check-label" for="seafood">Seafood</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="soy" name="soy" value="true">
                    <label class="form-check-label" for="soy">Soy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="wheat" name="wheat" value="true">
                    <label class="form-check-label" for="wheat">Wheat</label>
                </div>
            </div>

            <button type="submit" class="btn btn-custom">Search</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>